<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.woga1.navigation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permision.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi3rThxI8SHZkuWTAFjPj6ehLV1yJjrHo" />
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoadActivity" />
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".Search2Activity"></activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MenuActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MenuActivity"
            />
        <activity
            android:name=".ReadyActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".NavigationActivity"></activity>
        <activity android:name=".BackActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".NearActivity" />
        <activity android:name=".DestinationActivity" />
        <activity
            android:name=".StopNavigation"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".DetailSearchActivity" />
        <activity android:name=".AddressSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>

</manifest>