<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.woga1.navigation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permision.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/handlearicon"
        android:label="Handlear"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi3rThxI8SHZkuWTAFjPj6ehLV1yJjrHo" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".MenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Search.SearchActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".Navigation.ReadyActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".Navigation.NavigationActivity" />
        <activity android:name=".SaveData.FavoriteActivity" />
        <activity android:name=".Search.NearActivity" >

        </activity>
        <activity android:name=".SaveData.DestinationActivity" />

        <activity
            android:name=".Navigation.StopNavigation"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".Search.DetailSearchActivity" />
        <activity android:name=".SaveData.NoticeActivity" >

        </activity>
        <activity
            android:name=".gpsCheck"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".Navigation.RoadActivity" />
        <activity android:name=".Search.POIActivity" />
    </application>

</manifest>